---
layout: wrapper
---
<section class="club-photo-header">
    <div class="header-image placeholder w-100 h-100"></div>
    <div class="header-overlay"></div>
</section>

<div class="container py-3">

    <a class="fs-5 link-primary text-decoration-none" href="/club-list">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to all
    </a>

    <h1 class="display-3 text-secondary">{{page.title}}</h1>
    <p class="lead text-primary fs-4">
        {{page.one_liner}}
    </p>
    {{content}}

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 pt-3 g-2">
        <div class="col">
            <div class="ratio ratio-1x1">
                <img src="" class="placeholder h-100 w-100"/>
            </div>
        </div>
        <div class="col">
            <div class="ratio ratio-1x1">
                <img src="" class="placeholder h-100 w-100"/>
            </div>
        </div>
        <div class="col">
            <div class="ratio ratio-1x1">
                <img src="" class="placeholder h-100 w-100"/>
            </div>
        </div>
        <div class="col">
            <div class="ratio ratio-1x1">
                <img src="" class="placeholder h-100 w-100"/>
            </div>
        </div>
    </div>
</div>